<div class="container">
  <h1>Edit your profile</h1>
  <%= simple_form_for [@user], url: profiles_update_path(@user) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :location %>
  <%= f.input :age %>
  <%= f.input :bio %>
  <%= f.input :user_categories, as: :check_boxes %>

  <%= f.submit "Save changes", class: "btn btn-primary" %>
  <%= f.error_notification %>
<% end %>
</div>
