<div class="container profiles">

  <div class="user-info">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "rounded-circle mx-auto mb-3" %>
    <% else %>
      <img class="rounded-circle mx-auto mb-3" src="https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png" alt="">
    <% end %>
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p><svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 0C3.13 0 0 3.13 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 3.13 10.87 0 7 0ZM7 9.5C5.62 9.5 4.5 8.38 4.5 7C4.5 5.62 5.62 4.5 7 4.5C8.38 4.5 9.5 5.62 9.5 7C9.5 8.38 8.38 9.5 7 9.5Z" fill="black"/>
</svg>
Lives in <%= @user.location %></p>
    <p>Good in these categories:</p>
    <div class="user-category-tags">
        <% @user.categories.each do |category| %>
          <span><%= category.name %></span>
      <% end %>
    </div>
  </div>
  <div class="profile-right-side">
    <div class="about-me">
      <h3>About <%= @user.first_name %></h3>
      <p><%= @user.bio %></p>
    </div>
    <div class="user-reviews">
      <h3>Reviews</h3>
      <% @user.requests_as_creator.each do |request| %>
        <% if !request.helper.nil? && request.review %>
        <div class="individual-review">
          <div class="reviewer-info">
            <div class="reviewer-details">
            <% if request.helper.photo.attached? %>
              <%= cl_image_tag request.helper.photo.key, height: 45, width: 45, class: "rounded-circle" %>
            <% else %>
              <img class="rounded-circle mx-auto mb-3" src="https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png" style="height: 45; width: 45;">
            <% end %>
            <div class="name-created-at">
              <p><%= request.helper.first_name %></p>
              <p><%= request.review.created_at.strftime("%B %d, %Y") %></p>
            </div>
            </div>
          <div class="rating">
          <p class="stars">
            <% request.review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </p>
          </div>
          </div>
          <p> <%= request.review.content %></p>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>

</div>
