<div class="container conversations">
  <div class="conversation-filter">
    <h1>Conversations</h1>
    <div class="dropdown">
      <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
        Unread messages (<%= @unread_messages.count %>)
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">All Conversations (<%= @user_conversations.count %>)</a>
        <a class="dropdown-item" href="#">Confirmed</a>
        <a class="dropdown-item" href="#">Pending</a>
      </div>
    </div>
  </div>
  <div class="conversations-box">
    <ul>
      <% if @user_conversations.empty? %>
        <div class="message-box">
          <p><em>Sorry, you have no conversations yet.</em></p>
        </div>
      <% else %>
        <%  @user_conversations.sort_by(&:updated_at).reverse.each do |conversation| %>
          <li>
            <% if current_user.id == conversation.creator_id %>
              <% other_user = User.find(conversation.helper_id) %>
            <% else %>
              <% other_user = User.find(conversation.creator_id) %>
            <% end %>
              <div class="message-box">
                <div class="message-user-avatar">
                  <% if other_user.photo.attached? %>
                    <%= link_to (cl_image_tag other_user.photo.key, class: "avatar-middle"), other_profile_path(other_user) %>
                  <% else %>
                    <%= link_to image_tag("waldo.png", class: "avatar-middle"), other_profile_path(other_user) %>
                  <% end %>
                  <div class="user-name-and-time">
                    <p><%= other_user.first_name %></p>
                    <% if conversation.messages.empty? %>
                      <p><%= conversation.created_at.strftime("%B %d, %Y") %></p>
                    <% else %>
                      <p><%= conversation.messages.last.created_at.strftime("%B %d, %Y") %></p>
                    <% end %>
                  </div>
                </div>
                <div class="message-body">
                  <% if conversation.messages.empty? %>
                    <p><%= link_to "Open conversation: There is no message yet", conversation_path(conversation)%></p>
                  <% else %>
                    <p class="request-title"><%= link_to conversation.request.title.truncate(42), conversation_path(conversation)%></p>
                    <p class="message-text-preview"><%= conversation.messages.last.body.truncate(42)%></p>
                  <% end %>
                </div>
                <div id="conversation-status-details">
                  <% if conversation.has_unread_messages(current_user) %>
                    <p class="conversation-status"><%= conversation.status.capitalize %></p><p class="badged">#</p>
                  <% else %>
                    <p class="conversation-status"><%= conversation.status.capitalize %></p>
                  <% end %>
                </div>
              </div>
          </li>
        <% end %>


      <% end %>
    </ul>
  </div>
</div>
