<div class="conversations">
  <div class="conversation-filter">
    <h1>Messages</h1>
    <div class="dropdown">
      <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
        All Messages(<%= @user_conversations.count %>)
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">All Messages(<%= @user_conversations.count %>)</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
  <div class="conversations-box">
    <ul>
      <%  @user_conversations.each do |conversation| %>
        <li>
          <% if conversation.messages.present? %>
            <% if current_user.id == conversation.creator_id %>
              <% other_user = User.find(conversation.helper_id) %>
            <% else %>
              <% other_user = User.find(conversation.creator_id) %>
            <% end %>
            <div class="message-box">
              <div class="message-user-avatar">
                <%= link_to image_tag("https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png", class: "avatar"), other_profile_path(other_user) %>
              </div>
              <div class="message-user-name">
                <p><%= other_user.first_name %></p>
                <p><%= conversation.messages.last.created_at.strftime("%d/%m/%Y") %></p>
              </div>
              <div class="message-body">
                <p><%= link_to conversation.messages.last.body, conversation_path(conversation)%></p>
                <% request = Request.find(conversation.request_id) %>
                <p><%= request.title %> (<%= request.created_at.strftime("%d/%m/%Y")%>)</p>
              </div>
              <div>
                <p id="conversation-status"><%= conversation.status %></p>
              </div>
            </div>
          <% else %>
            <p>Currently there is no conversation present</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
