<div class="container conversation">
  <div class="messages_box">
    <div class="conversation-header">
      <div id="conversation-img-title">
        <% if @other_user.photo.attached? %>
            <%= link_to (cl_image_tag @other_user.photo.key, height: 45, width: 45, class: "rounded-circle"), other_profile_path(@other_user) %>
          <% else %>
            <%= link_to image_tag("https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png", class: "avatar"), other_profile_path(@other_user) %>
        <% end %>
      </div>
     <span><%= @request.created_at.strftime("%B %d, %Y") %></span>
    </div>
    <div class="conversation-messages">
      <ul>
        <% @messages.each do |message| %>
          <li>
            <% if message.body %>
              <% if current_user != message.user %>
              <div class="blue">
                <div><strong><%= message.user.first_name %></strong> <%= message.created_at.strftime("%B %d, %Y") %></div>
                <p><%= message.body %></p>
              <% else %>
              <div class="not-blue">
                <div><strong><%= message.user.first_name %></strong> <%= message.created_at.strftime("%B %d, %Y") %></div>
                <p><%= message.body %></p>
            <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="new-messsage">
      <%= render 'messages/new', message: @message, conversation: @conversation %>
    </div>
  </div>
  <div class="request-container">
    <div class="conversation-request-card">
      <div class="conversation-request-card-status">
        <% if @request.status != "pending" %>
          <% if @other_user.photo.attached? %>
            <%= link_to (cl_image_tag @other_user.photo.key, height: 45, width: 45, class: "rounded-circle", id: "request-avatar"), other_profile_path(@other_user) %>
          <% else %>
            <%= link_to image_tag("https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png", class: "avatar", id: "request-avatar"), other_profile_path(@other_user) %>
          <% end %>
        <% else %>
          <p id="request-status"><%= @request.status.capitalize %></p>
        <% end %>
      </div>
      <h2><strong><%= @request.title %></strong></h2>
      <p><%= @request.due_date.strftime("%B %d, %Y") %></p>
      <p><i class="fas fa-map-marker-alt"></i><%= @request.city %></p>
      <% category = Category.find(@request.category_id) %>
      <p id="request-category"><%= category.name %></p>
    </div>
    <div class="request-confirmation">
      <p>Do you want to confirm this pal?</p>
      <div id="pal-confirm">
        <% if @other_user.photo.attached? %>
          <%= link_to (cl_image_tag @other_user.photo.key, height: 45, width: 45, class: "rounded-circle"), other_profile_path(@other_user) %>
        <% else %>
          <%= link_to image_tag("https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png", class: "avatar"), other_profile_path(@other_user) %>
        <% end %>
        <p><%= @other_user.first_name %> <%= @other_user.last_name %></p>
      </div>
        <%= simple_form_for ([@request]) do |f| %>
          <%= hidden_field_tag :helper_id, @conversation.helper_id %>
          <%= f.button :submit, "Confirm pal", class: "btn btn-primary rounder"%>
          <%= f.button :submit, "Decline", class: "btn rounder inverted" %>
        <% end %>
    </div>
  </div>
</div>

