<div class="container conversation">
  <div class="messages_box">
    <div class="conversation-header">
      <div id="conversation-img-title">
        <% if @other_user.photo.attached? %>
            <%= link_to (cl_image_tag @other_user.photo.key, class: "avatar-middle"), other_profile_path(@other_user) %>
          <% else %>
            <%= link_to image_tag("waldo.png", class: "avatar-middle"), other_profile_path(@other_user) %>
        <% end %>
      </div>
     <span><%= @request.created_at.strftime("%B %d, %Y") %></span>
    </div>
    <div class="conversation-messages">
      <ul>
        <% @messages.each do |message| %>
          <li>
            <% if message.body %>
              <% if current_user != message.user %>
              <div class="not-blue conversation-message">
                <div><strong><%= message.user.first_name %></strong> <%= message.created_at.strftime("%H:%M (%B %d)") %></div>
                <p><%= message.body %></p>
              <% else %>
              <div class="blue conversation-message">
                <div><strong>You</strong> <%= message.created_at.strftime("%H:%M (%B %d)") %></div>
                <p><%= message.body %></p>
            <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if @conversation.request.status != "inactive" %>
      <div id="new-messsage">
        <%= render 'messages/new', message: @message, conversation: @conversation %>
      </div>
    <% end %>
  </div>
  <div class="request-container">
    <div class="conversation-request-card">
      <div class="conversation-avatar-status-div">
        <div class="creator-info-conversation">
          <% if @request.creator.photo.attached? %>
            <%= link_to other_profile_path(@request.creator) do %>
              <%= cl_image_tag @request.creator.photo.key, class: "avatar" %>
            <% end %>
          <% else %>
            <%= link_to other_profile_path(@request.creator) do %>
                <%= image_tag("waldo.png", class: "avatar") %>
              <% end %>
          <% end %>
          <% if current_user != @request.creator %>
            <%= @request.creator.first_name %>
          <% end %>
        </div>
        <div class="conversation-request-card-status">
          <% if @request.status == "ongoing" %>
            <p id="request-status" style="background-color: #6DC6A4; color: white;"><%= @request.status.capitalize %></p>
          <% else %>
            <p id="request-status"><%= @request.status.capitalize %></p>
          <% end %>
        </div>
      </div>
      <h3><strong><%= link_to @conversation.request.title.truncate(42), request_path(@conversation.request)%></strong></h3>
      <p><%= @request.due_date.strftime("%B %d, %Y") %></p>
      <p><i class="fas fa-map-marker-alt"></i><%= @request.city %></p>
      <% category = Category.find(@request.category_id) %>
      <p id="request-category"><%= category.name %></p>
    </div>
    <% if @request.creator == current_user && @request.status == "pending" && @conversation.status != "declined" %>
      <div class="request-confirmation">
        <p>Do you want to confirm this pal?</p>
        <div id="pal-confirm">
          <% if @other_user.photo.attached? %>
            <%= link_to (cl_image_tag @other_user.photo.key, class: "avatar-middle"), other_profile_path(@other_user) %>
          <% else %>
          <%= link_to image_tag("waldo.png", class: "avatar-middle"), other_profile_path(@other_user) %>
          <% end %>
          <p><%= @other_user.first_name %> <%= @other_user.last_name %></p>
        </div>
          <%= simple_form_for([@request]) do |form| %>
            <%= hidden_field_tag :helper_id, @conversation.helper_id %>
            <%= form.button :submit, "Confirm pal", class: "btn btn-primary rounder", id: "confirm-button"%>
            <%= form.button :submit, "Decline", class: "btn rounder inverted", id: "decline-button" %>
          <% end %>
      </div>
    <% end %>
    <% if @request.helper.present? %>
      <div class="pal-confirmed">
        <div class="pal-details">
          <h4>Your new pal</h4>
          <%= @other_user.first_name %>
        </div>
        <div class="pal-image">
          <% if @other_user.photo.attached? %>
            <%= link_to (cl_image_tag @other_user.photo.key, class: "avatar"), other_profile_path(@other_user) %>
          <% else %>
          <%= link_to image_tag("waldo.png", class: "avatar"), other_profile_path(@other_user) %>
          <% end %>
          <div class="avatar-check-mark">
            <i class="far fa-check-circle"></i>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

