<h1>New Request Form</h1>

<% if user_signed_in?  %>
  <div class="category-selected">
    <h1><%=@user_category_selection %></h1>
  </div>

  <div>
  <%= simple_form_for @request do |f| %>
    <%= f.input :category_id, :as => :hidden%>
    <%= f.input :due_date %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
  <% end %>
  </div>

<% end %>
