<div class="container new-form">
<% if user_signed_in?  %>
<div>
  <h1>Fill in your request</h1>
</div>
  <div class="category-selected">
    <% if @user_category_selection %>
    <span><%=@user_category_selection %></span>
    <% end %>
  </div>
  <div>
      <%= simple_form_for @request do |f| %>
      <%= f.input :status, :as => :hidden%>
      <%= f.input :category_id, :as => :hidden%>
      <%= f.input :city, input_html: {value: @location}, :as => :hidden%>
      <%= f.input :due_date, required: true, order: [:month, :day, :year]%>
      <%= f.input :title, required: true, hint: "Title required"%>
      <%= f.input :description, required: true%>
      <%= f.submit :submit, class: "btn btn-primary", data: {toggle: "modal", target:"#exampleModal"} %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    <% end %>

  </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="modal-header-style" class="modal-header">
          <i class="far fa-check-circle"></i>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title" id="exampleModalLabel">Great!</h5>
          <span>Your request has been sent. You will be notified once a pal contacts you.</span>
        </div>

         <div class="modal-footer">
          <%= link_to "My request", request_path(Request.last), class: "btn btn-primary" %>
          <%= link_to "Home", root_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

  <%else %>
  <div class="login_before_request">
    <div>
        <p><strong>New to Helpal?</strong> Please sign up and create your first request!</p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    </div>
    <div>
      <p><strong>Already on Helpal?</strong> Please sign in to create a request.</p>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>
