<div class="container new-form">
<% if user_signed_in?  %>
<div>
  <h1>Fill in your request</h1>
</div>
  <div class="category-selected">
    <p><%=@location %></p>
    <span><%=@user_category_selection %></span>
  </div>
  <div>
      <%= simple_form_for @request do |f| %>
      <%= f.input :category_id, :as => :hidden%>
      <%= f.input :city, input_html: {value: @location}, :as => :hidden%>
      <%= f.input :due_date, required: true%>
      <%= f.input :title, required: true, hint: "Title required"%>
      <%= f.input :description, required: true%>
      <%= f.submit :submit, class: "btn btn-primary", data: {toggle: "modal", target:"#exampleModal"} %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    <% end %>
  </div>

  <%else %>
    <p>To create a request please sign in </p>
    <%= link_to "Sign in", new_user_session_path%>
  <% end %>
</div>
