<div class="container">

  <h3>Choose a city to help others</h3>
  <div class="search-bar">
    <div class="search-city-input">
    <%= form_tag help_others_path, method: :get, class: "form-inline" do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= text_field_tag :query, params[:query], id: "form-city", class: "form-control search-input", placeholder: "Type the city name" %>
    </div>
    <div class="search-submit">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

  <% if @requests.present? %>
    <% @pending_requests.each do |request| %>
      <p><%= request.status.capitalize %></p>
      <h3><%= request.title.truncate(42) %></h3>
    <% end %>

  <% else %>
    <p>No requests in that city yet</p>
  <% end %>

</div>
