<div class="container">

  <h3 class="page-title">Help pals around the world</h3>
  <div class="search-bar">
    <div class="search-city-input">
    <%= form_tag help_others_path, method: :get, class: "form-inline" do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= text_field_tag :query, params[:query], id: "form-city", class: "form-control search-input", placeholder: "Type the city name" %>
    </div>
    <div class="search-submit">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% if @error %>
      <p><%= @error %></p>
    <% end %>
  </div>
  <% end %>

  <% unless @filtered_requests %>
    <h3 class="small-title">New help requests</h3>
    <div class="cards">
      <% @pending_requests.first(3).each do |request| %>
        <div class="request-card">
          <% if request.creator.photo.attached? %>
              <%= link_to other_profile_path(request.creator) do %>
                <%= cl_image_tag request.creator.photo.key, class: "creator-avatar" %>
              <% end %>
            <% else %>
              <%= link_to other_profile_path(request.creator) do %>
                <%= image_tag("waldo.png", class: "creator-avatar") %>
              <% end %>
            <% end %>
          <h3><%= request.title.truncate(42) %></h3>
          <div class="date">
            <p><i class="fas fa-map-marker-alt"></i> <%= request.city %></p>
            <p><%= request.due_date.strftime('%B %d, %Y') %></p>
          </div>
          <div class="user-category-tags">
            <span><%= Category.find_by(id: request.category_id).name %></span>
          </div>
          <div class="links">
            <%= link_to "View details", request_path(request), class: "details-btn" %>
          </div>
        </div>
        <% end %>
    </div>
  <% end %>


  <% if @filtered_requests.present? %>
    <h3 class="small-title">Most recent requests in <%= @query %></h3>
      <div class="cards">
        <% @filtered_requests.each do |request| %>
          <div class="request-card">
            <% if request.creator.photo.attached? %>
              <%= link_to other_profile_path(request.creator) do %>
                <%= cl_image_tag request.creator.photo.key, class: "creator-avatar" %>
              <% end %>
            <% else %>
              <%= link_to other_profile_path(request.creator) do %>
                <%= image_tag("waldo.png", class: "creator-avatar") %>
              <% end %>
            <% end %>
            <h3><%= request.title.truncate(42) %></h3>
            <div class="date">
              <p><i class="fas fa-map-marker-alt"></i> <%= request.city %></p>
              <p><%= request.due_date.strftime('%B %d, %Y') %></p>
            </div>
            <div class="user-category-tags">
              <span><%= Category.find_by(id: request.category_id).name %></span>
            </div>
            <div class="links">
              <%= link_to "View details", request_path(request), class: "details-btn" %>
            </div>
          </div>
          <% end %>
      </div>
  <% end %>

  <% if @filtered_requests %>
    <% if @filtered_requests.empty? %>
      <p class="no-results">No current help requests in this city</p>
    <% end %>
  <% end %>

</div>
