  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="justify-content: center; background-color: #9AD7E9;";>
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">My help requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Helping others</a>
    </li>
  </ul>
<div class="container">

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="cards-wrapper">
      <% if @requests.present? %>
        <h3>Requests looking for helpal</h3>
          <div class="cards">
            <% @pending_requests.each do |request| %>
              <div class="request-card">
                <p class="request-status"><%= request.status.capitalize %></p>
                <h3><%= request.title.truncate(42) %></h3>
                <div class="date">
                  <p><i class="fas fa-map-marker-alt"></i> <%= request.city %></p>
                  <p><%= request.due_date.strftime('%B %d, %Y') %></p>
                </div>
                <div class="user-category-tags">
                  <span><%= Category.find_by(id: request.category_id).name %></span>
                </div>
                <div class="links">
                  <%= link_to "View details", request_path(request), class: "details-btn" %>
                  <%= link_to "Cancel", request_path(request), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-btn" %>
                </div>
              </div>
              <% end %>
          </div>

        <h3>Assigned to helpal</h3>
        <% if @ongoing_requests.present? %>
          <div class="cards">
            <% @ongoing_requests.each do |request| %>
              <div class="request-card">
                <p class="request-status ongoing"><%= request.status.capitalize %></p>
                <h3><%= request.title %></h3>
                <div class="date">
                  <p><i class="fas fa-map-marker-alt"></i> <%= request.city %></p>
                  <p><%= request.due_date.strftime('%B %d, %Y') %></p>
                </div>
                <div class="user-category-tags">
                  <span><%= Category.find_by(id: request.category_id).name %></span>
                </div>
                <div class="links">
                  <%= link_to "View details", request_path(request), class: "details-btn" %>
                  <%= link_to "Cancel", request_path(request), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-btn" %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="not-assigned">Nothing assigned yet</p>
        <% end %>

        <h3>Completed</h3>
        <% if @done_requests.present? %>
          <div class="cards">
            <% @done_requests.each do |request| %>
              <div class="request-card">
                <p class="request-status done"><%= request.status.capitalize %></p>
                <h3><%= request.title %></h3>
                <div class="date">
                  <p><i class="fas fa-map-marker-alt"></i> <%= request.city %></p>
                  <p><%= request.due_date.strftime('%B %d, %Y') %></p>
                </div>
                <div class="user-category-tags">
                  <span><%= Category.find_by(id: request.category_id).name %></span>
                </div>
                <div class="links">
                  <%= link_to "View details", request_path(request), class: "details-btn" %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="not-assigned">Nothing completed yet</p>
        <% end %>


      <% else %>
        <div class="no-results">
          <h3>Sorry, you don't have any requests to display.</h3>
          <p>Create your first request.</p>
          <%= link_to "New request", categories_path, class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="cards-wrapper">
          <% if @helping_requests.present? %>
            <h3>Assigned to me</h3>
              <% if @ongoing_help_requests.present? %>
                <div class="cards">
                  <% @ongoing_help_requests.each do |request| %>
                    <div class="request-card">
                      <% if !request.helper_id.nil? %>
                        <% if request.helper.photo.attached? %>
                          <%= link_to (cl_image_tag request.helper.photo.key, class: "helper-avatar"), other_profile_path(request.helper_id) %>
                        <% else %>
                          <%= link_to image_tag("waldo.png", class: "helper-avatar"), other_profile_path(request.helper_id) %>
                        <% end %>
                      <% end %>
                      <h3><%= request.title %></h3>
                      <div class="date">
                        <p><i class="fas fa-map-marker-alt"></i> <%= request.city %></p>
                        <p><%= request.due_date.strftime('%B %d, %Y') %></p>
                      </div>
                      <div class="user-category-tags">
                        <span><%= Category.find_by(id: request.category_id).name %></span>
                      </div>
                      <div class="links">
                        <%= link_to "View details", request_path(request), class: "details-btn" %>
                        <%= link_to "Cancel", "#", class: "delete-btn" %>
                      </div>
                    </div>
                  <% end %>
                </div>
          <% else %>
            <p class="not-assigned">Nothing assigned yet</p>
          <% end %>

          <h3>Completed</h3>
            <% if @done_help_requests.present? %>
              <div class="cards">
                <% @done_help_requests.each do |request| %>
                  <div class="request-card">
                    <% if !request.helper_id.nil? %>
                      <% if request.helper.photo.attached? %>
                        <%= link_to (cl_image_tag request.helper.photo.key, class: "helper-avatar"), other_profile_path(request.helper_id) %>
                      <% else %>
                        <%= link_to image_tag("waldo.png", class: "helper-avatar"), other_profile_path(request.helper_id) %>
                      <% end %>
                    <% end %>
                    <h3><%= request.title %></h3>
                    <div class="date">
                      <p><i class="fas fa-map-marker-alt"></i> <%= request.city %></p>
                      <p><%= request.due_date.strftime('%B %d, %Y') %></p>
                    </div>
                    <div class="user-category-tags">
                      <span><%= Category.find_by(id: request.category_id).name %></span>
                    </div>
                    <div class="links">
                      <%= link_to "View details", request_path(request), class: "details-btn" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p class="not-assigned">Nothing completed yet</p>
            <% end %>

        <% else %>
          <div class="no-results">
          <h3>Nothing to display yet.</h3>
          <p>Check pending help requests.</p>
          <%= link_to "Help others", help_others_path, class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
