<div class="container">

  <div class="cards-wrapper">
  <% if @requests.present? %>
    <h3>Requests looking for helpal</h3>
      <div class="cards">
        <% @pending_requests.each do |request| %>
          <div class="request-card">
            <p id="request-status"><%= request.status.capitalize %></p>
            <h3><%= request.title %></h3>
            <div class="date">
              <i class="fas fa-map-marker-alt"></i>
              <p><%= request.due_date.strftime('%B %d, %Y') %></p>
            </div>
            <div class="user-category-tags">
              <span><%= Category.find_by(id: request.category_id).name %></span>
            </div>
            <div class="links">
              <%= link_to "View details", request_path(request), class: "details-btn" %>
              <%= link_to "Delete", "#", class: "delete-btn" %>
            </div>
          </div>
          <% end %>
      </div>

  <br>
  <br>


    <h3>Assigned to helpal</h3>
    <div class="cards">
      <% @ongoing_requests.each do |request| %>
        <div class="request-card">
          <% if !request.helper_id.nil? && request.helper.photo.attached? %>
            <%= link_to (cl_image_tag request.helper.photo.key, class: "helper-avatar"), other_profile_path(request.helper_id) %>
          <% else %>
            <img class="rounded-circle mx-auto mb-3" src="https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png" style="height: 45px; width: 45px; position: absolute; right: 14px; top: 14px;">
          <% end %>
          <h3><%= request.title %></h3>
          <div class="date">
            <i class="fas fa-map-marker-alt"></i>
            <p><%= request.due_date.strftime('%B %d, %Y') %></p>
          </div>
          <div class="user-category-tags">
            <span><%= Category.find_by(id: request.category_id).name %></span>
          </div>
          <div class="links">
            <%= link_to "View details", request_path(request), class: "details-btn" %>
            <%= link_to "Delete", "#", class: "delete-btn" %>
          </div>
        </div>
      <% end %>
    </div>


  <br>
  <br>


    <h3>Completed</h3>
    <div class="cards">
      <% @done_requests.each do |request| %>
        <div class="request-card">
          <% if !request.helper_id.nil? && request.helper.photo.attached? %>
            <%= link_to (cl_image_tag request.helper.photo.key, class: "helper-avatar"), other_profile_path(request.helper_id) %>
          <% else %>
            <img class="rounded-circle mx-auto mb-3" src="https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png" style="height: 45px; width: 45px; position: absolute; right: 14px; top: 14px;">
          <% end %>
          <h3><%= request.title %></h3>
          <div class="date">
            <i class="fas fa-map-marker-alt"></i>
            <p><%= request.due_date.strftime('%B %d, %Y') %></p>
          </div>
          <div class="user-category-tags">
            <span><%= Category.find_by(id: request.category_id).name %></span>
          </div>
          <div class="links">
            <%= link_to "View details", request_path(request), class: "details-btn" %>
            <%= link_to "Delete", "#", class: "delete-btn" %>
          </div>
        </div>
      <% end %>
    </div>


  <% else %>
    <h3>Sorry, you don't have any requests to display.</h1>
  <% end %>

  </div>
</div>
