<div class="container container-show-request">
  <div class="wrapper-request">
    <div class="request-status-info">
      <div class="conversation-request-card-status">
        <p id="request-status-show"><%= @request.status.capitalize%></p>
      </div>
    </div>

    <div class="request-title-show-wrapper ">
      <h1>Request title:</h1>
      <p><strong> <%= @request.title %></strong></p>
    </div>

    <div class="date">
      <i class="fas fa-map-marker-alt"></i>
      <p><%= @request.due_date.strftime('%B %d, %Y') %></p>
    </div>

    <div class="request-category">
     <p class="request-category-tag"><%= @new_request %></p>
    </div>

    <div class="request-description-field">
      <%= @request.description%>
    </div>

    <% if @helper.present? %>
      <% if @helper.photo.attached? %>
        <h3>Assigned to:</h3>
        <div class="assigned-to-avatar">
          <div class="pending-messages">
            <%= link_to conversations_path do %>
              <%= cl_image_tag @helper.photo.key, class: "avatar-large" %>
            <% end %>
          </div>
          <%= link_to conversations_path(@helper_conversation) do %>
            <p class="helper-name"><%= @helper.first_name %> <%=@helper.last_name %></p>
          <% end %>
        </div>
      <% else %>
        <div>
          <h3>Assigned to:</h3>
          <div class="assigned-to-avatar">
            <div class="pending-messages">
              <%= link_to conversations_path do %>
                <img class="rounded-circle mx-auto mb-3" src="https://www.pinestrawmag.com/wp-content/uploads/2017/07/4yrcs2zo.png" style="height: 56px; width: 56px;">
              <% end %>
            </div>
            <div class="pending-messages">
              <%= link_to conversations_path(@helper_conversation) do %>
                <p class="helper-name"><%= @helper.first_name %> <%=@helper.last_name %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="pending-messages">
        <%= link_to conversations_path do %>
          <h3>Pending inbox messages: <%= @conversation_count%></h3>
        <% end %>
      </div>
    <% end %>

    <div class="request-show-buttons">
      <% if @request.creator == current_user %>
        <a href="#" class="btn btn-primary edit-btn">Edit</a>
        <%= link_to "Cancel", request_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
      <% else %>
         <div>
          <%= link_to "View all open requests", requests_path, class: "btn btn-primary edit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
