<div class="container container-show-request">
  <div class="wrapper-request">
    <div class="request-status">
      <div class="conversation-request-card-status">
        <p id="request-status"><%= @request.status.capitalize %></p>
      </div>
    </div>

    <div class="request-title-show-wrapper ">
      <h1>Request title:</h1>
      <p><strong> <%= @request.title %></strong></p>
    </div>

    <div class="date">
      <i class="fas fa-map-marker-alt"></i>
      <p><%= @request.created_at.strftime('%B %d, %Y') %></p>
    </div>

    <div class="request-category">
     <p class="request-category-tag"><%= @new_request %></p>
    </div>

    <div class="request-description-field">
      <%= @request.description%>
    </div>

    <div>
    <h3>Pending inbox messages: <%= @conversation.count%></h3>
    </div>

    <div class="request-show-buttons">
    <a href="#" class="btn btn-primary edit-btn">Edit</a>
    <%= link_to "Cancel", request_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
    </div>
  </div>
</div>
