<div class="container container-show-request">
  <div class="wrapper-request">
    <div class="request-status-info">
      <div class="creator-info">
      <% if @request.creator.photo.attached? %>
            <%= link_to other_profile_path(@request.creator) do %>
              <%= cl_image_tag @request.creator.photo.key, class: "avatar" %>
            <% end %>
          <% else %>
            <%= link_to other_profile_path(@request.creator) do %>
                <%= image_tag("waldo.png", class: "avatar") %>
              <% end %>
          <% end %>
          <%= @request.creator.first_name %>
    </div>
      <div class="conversation-request-card-status">
        <p id="request-status-show"><%= @request.status.capitalize%></p>
      </div>
    </div>
    <div class="request-title-show-wrapper ">
      <p><strong> <%= @request.title %></strong></p>
    </div>

    <div class="date">
      <p><i class="fas fa-map-marker-alt"></i> <%= @request.city %></p>
      <p><%= @request.due_date.strftime('%B %d, %Y') %></p>
    </div>

    <div class="request-category">
     <p class="request-category-tag"><%= @new_request %></p>
    </div>

    <div class="request-description-field">
      <%= @request.description%>
    </div>

    <% if @request.helper.present? && current_user == @request.creator %>
        <h3>Your new pal:</h3>
        <div class="assigned-to-avatar">
          <div class="pending-messages">
            <% if @request.helper.photo.attached? %>
            <%= link_to conversation_path(@helper_conversation) do %>
              <%= cl_image_tag @request.helper.photo.key, class: "avatar-large" %>
            <% end %>
            <% else %>
              <%= link_to conversation_path(@helper_conversation) do %>
                <%= image_tag("waldo.png", class: "avatar-large") %>
              <% end %>
            <% end %>
          </div>
            <p class="helper-name"><%= @request.helper.first_name %> <%=@request.helper.last_name %></p>
        </div>
    <% elsif @helper_unconfirmed_conversation %>
      <%= link_to "Go to conversation", conversation_path(@helper_unconfirmed_conversation), class: "btn btn-outline-secondary request-conversation-btn rounder"%>
    <% elsif current_user == @request.helper %>
      <%= link_to "Go to conversation", conversation_path(@helper_conversation), class: "btn btn-outline-secondary request-conversation-btn rounder"%>
    <% elsif @request.status == "pending" && current_user != @request.creator %>
        <%= simple_form_for @conversation do |f| %>
                <%= f.input :helper_id, input_html: {value: current_user.id}, :as => :hidden%>
                <%= f.input :creator_id, input_html: {value: @request.creator_id}, :as => :hidden%>
                <%= f.input :request_id, input_html: {value: @request.id}, :as => :hidden%>
                <%= f.button :submit, "Start a conversation", class: "btn btn-primary" %>
              <% end %>
    <% else %>
      <% if @conversation_count.positive? %>
      <div class="pending-messages">
        <%= link_to conversations_path do %>
          <h3>Messages for this request: <%= @conversation_count%></h3>
        <% end %>
      </div>
      <% end %>
    <% end %>
    <div class="request-show-buttons">
      <% if @request.creator == current_user && @request.status != "inactive" %>
        <a href="#" class="btn btn-primary edit-btn rounder">Edit</a>
        <%= link_to "Cancel", request_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger rounder" %>
      <% end %>
    </div>
  </div>
</div>

