<div class="banner">
  <div class="container">
    <div class="content">
      <h1>Get <strong>help</strong> anytime anywhere!</h1>
      <div class="search-bar">
        <div class="search-city-input">
        <%= form_tag categories_path, method: :get, class: "form-inline" do %>
          <%= text_field_tag :query, params[:query], class: "form-control search-input", placeholder: "Type the city name" %>
        </div>
        <div class="search-submit">
          <%= submit_tag "Select location", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="card-feature">
  <%= image_tag("puzzle.jpg") %>
  <div class="card-feature-infos">
    <h2>Helpal helps you find support fast and easy</h2>
    <p>It can be overwhelming moving to a new place and needing help. Helpal helps you connect with people that can help you. Fast and easy.</p>
  </div>
</div>

<div class="card-feature color">
  <div class="card-feature-infos">
    <h2>Post your request</h2>
    <p>Posting a request is easy. Pick the category you need help with. Then fill out the due date and your availability and submit your request. Pals will automatically be notified of your request.</p>
  </div>
  <%= image_tag("girl-relaxed.jpg") %>
</div>

<div class="card-feature">
  <%= image_tag("people-together.jpg") %>
  <div class="card-feature-infos">
    <h2>Connect with your pal</h2>
    <p>As soon as a pal has accepted your request you will be notified. Go to your inbox and share information safely and make an appointment! with your pal!</p>
  </div>
</div>






