<h1>We are here to help</h1>
<h2>Specify one category you need help with and pals will try and help you out</h2>


<%= form_tag categories_path, method: :get, class: "form-inline" do %>
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: @location %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>


<% @categories.each do |category| %>
  <%= form_tag categories_path, method: :get do %>
  <%= hidden_field_tag :query, params[:query], class: "form-control" %>
  <%= submit_tag category.name, class: "btn btn-primary"%>
  <% end %>
<% end %>

<%= render 'requests/new' %>

</div>
