<div id="category-request-page">
  <div id="category-index-body">
    <div class="container">
      <div class="title-index">
        <h1><strong>We are here to help</strong></h1>
        <h2>Select the category you need help with and connect with pals who can help you</h2>
      </div>
      <div class="search-bar-cat">
        <div class="search-city-input">
          <%= form_tag categories_path, method: :get, class: "form-inline" do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= text_field_tag :query, params[:query], id: "form-city", class: "form-control search-input", placeholder: "Type the city name" %>
        </div>
        <div class="search-submit">
          <%= submit_tag "Search", id:"cat-submit", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="wrapper">
      <div class="container-category-cards">
         <% @categories.each do |category| %>

            <div class="category-card" id="<%= category.name %>">
              <% if category.name == "Tech" %>
                  <i class="fas fa-laptop"></i>
                <% elsif category.name == "Business" %>
                  <i class="fas fa-briefcase"></i>
                <% elsif category.name == "Legal" %>
                  <i class="fas fa-balance-scale-right"></i>
                <% elsif category.name == "Travel" %>
                  <i class="fas fa-plane"></i>
                <% elsif category.name == "Housing" %>
                  <i class="fas fa-home"></i>
                <% else %>
                  <i class="fas fa-heartbeat"></i>
              <% end %>
              <span class="name_cat_card"><%=category.name  %></span>
              <span class="name_cat_id" style="color: white"><%=category.id %></span>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="new-request-container">
    <%= render 'requests/new' %>
  </div>
</div>
