<div id="category-index-body">
   <div class="title-index">
      <h1><strong>We are here to help</strong></h1>
      <h2>Select the category you need help with and connect with pals who can help you</h2>
    </div>

  <div class="location-update">
    <%= form_tag categories_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: @location %>
      <%= submit_tag "Update location", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="container">
    <div class="container-category-cards">
      <% @categories.each do |category| %>
        <%= form_tag categories_path, method: :get do %>
          <%= hidden_field_tag :query, params[:query], class: "form-control" %>
          <%= submit_tag category.name, id: "category-card"%>
        <% end %>
      <% end %>
    </div>
  </div>
   </div>
</div>

<div>
  <%= render 'requests/new' %>
</div>

